{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <div>
        <h1>Concepteur Developpeur d'Applications</h1>

        <h3>En recherche de stage du 13 Juillet au 04 Septembre 2020</h3>


        <p >
            ¯\_(ツ)_/¯    ...  Oui , je suis moi meme en cours de developpement
        </p>
        <p >
            En attendant la version en ligne , voici mon <a href="{{ asset('docs/CV_Bruno_HUDBERT_CDA_Bac+4.pdf') }}">CV téléchargeable</a>
            <br>
            Ainsi que mon <a href="https://www.linkedin.com/in/bruno-hudbert/">profil LinkedIn </a>
        </p>
        <br>   <br>
    </div>
{% endblock %}

