<!doctype html>
<html lang="fr">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Blog Template for Bootstrap</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/blog/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<link
	href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
	rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet">
</head>



    <body>



<header id="myheader" class="fixed-top">
	<div class="container">

		<form class="myconnectform">
			<button class="btn btn-outline-light my-3 my-sm-0" type="submit">
				<svg id="i-user" xmlns="http://www.w3.org/2000/svg"
					viewBox="-10 -10 60 60" width="30" height="30" fill="none"
					stroke="currentcolor" stroke-linecap="round"
					stroke-linejoin="round" stroke-width="3">
                        <path
						d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
                    </svg>


				Connexion
			</button>
		</form>



		<a class="navbar-brand mybrand" href="/"><img
			src="/img/logo.png" style="width: 90px;">
			<div class="h2 d-none d-lg-block myname">Bruno HUDBERT</div> </a>





		<div class="d-flex justify-content-center">

			<nav class="navbar navbar-expand-md  navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarsExampleDefault"
					aria-controls="navbarsExampleDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>


				</button>



				<div class="collapse navbar-collapse mymenu" id="navbarsExample">
					<ul class="navbar-nav" style="font-size: 1.1em; font-weight: 600">

						<li class="nav-item" id="active"><a class="nav-link text-light"
							href="blog">Blog</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							href="tutoriels">Tutoriels</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							href="formations">Formations</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							href="contact">Contact</a></li>
					</ul>
				</div>

			</nav>

		</div>

	</div>

</header>


      <main role="main" class="mymain"> <!-- Main jumbotron for a primary marketing message or call to action -->


	<div class="container">
        {% block body %}{% endblock %}


</div>

</main>

<br>
<br>

<footer class="d-flex fixed-bottom justify-content-center">

	<p class="copyright">&copy; Myself 2020</p>
</footer>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
