{% extends '_layouts/default.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div>
        <h1> Bienvenue  </h1>

        Quelques news et quelques notes de formations ;-)

    </div>
{% endblock %}
