{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <div>
        <h1> Bienvenue  </h1>
<br>

       <p>
           Vous retrouverez ici mon portfolio avec differents projets :<br>
           un faux de site de petites annonces sous Symfony 3 => <a href="https://lemeilleurcoin.bruno.hudbert.fr">lemeilleurcoin </a><br>
           un faux magasin d'instruments de musique  sous Symfony 4 => <a href="https://music-box.bruno.hudbert.fr">music-box </a><br>
           un vrai blog avec quelques notes de formation et un portfolio sous Symfony 5 => Vous etes deja dessus :D

       </p>
<br>
        <p>
            Pour les projets J2EE ce sera ici : <a href="http://www2.bruno.hudbert.fr:8080"> Tomcat </a><br>
        </p> <br>
        <p>
            Et angular ca sera plus tard ! <br>
            ¯\_(ツ)_/¯
        </p>



    </div>
{% endblock %}
