{% extends 'base.html.twig' %}

{% block title %}{% endblock %}




{% block body %}
        <div class="text-center">
            <h1> Concepteur Developpeur d'Applications  </h1><br>

            <h3 class="subheader " style="color:#080b80;"> En recherche de stage du 13 Juillet au 04 Septembre 2020 </h3>
            <h3 class="subheader" style="color:#080b80;"> Je cherche aussi une alternance pour poursuivre mon Bac+5 </h3>
        </div>
    <br><br>
    <div>
       <p>
           Le site est en cours de développement car il fait partie  de mes projets d'etudes <br>
           Vous retrouverez ici mon portfolio avec differents projets
       </p>


    </div>
{% endblock %}
