{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block callout %}



    <div class="callout" style="background:linear-gradient(to bottom,#f5f2c4,#f5f5df) ">
        <div class="small-12" style="width: 1120px;margin:auto;">
            <div class="grid-x">

                <div class="cell medium-6 large-7 padding-horizontal-2 padding-vertical-1">
                    <div class="text-left">
                        <h2> Concepteur Developpeur d'Applications  </h2>
                        <h4 class="subheader " style="color:#080b80;">
                            Je suis à présent en recherche d' une alternance pour mon année de Bac+5
                            Manager Systeme d'Information et d'Infrastructure</h4>

                    </div>
                </div>
                <div class="cell medium-6 large-5">
                    <img src="https://placehold.it/480x270"  alt="image of a planet called Pegasi B">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

    <h1>Mes formations</h1>

    <h3>En cours de développement</h3>
    <br>
    <p class="text-left">
        Le but n'est en aucun cas de chercher a vendre de la formation alors que je suis moi meme en cours de formation .
        Je suis moi meme beaucoup trop souvent tomber sur des formations de pseudo-experts qui voulaient m'apprendre a
        devenir riche sans travailler !
   </p>
    <p class="text-left">
        Je suis convaincu que le meilleur moyen de savoir si on maitrise un concept ou une techno est d'essayer de les
        réexpliquer a une autre personne . C'est donc ce que j'essayerai de faire ici ! Si en plus ca peut servir a ceux
        qui cherche a se former ...tout le monde y gagne ;-)

    </p>

    <p class="text-left">
        Apres remise en forme , je mettrais aussi quelques notes de formations , quelques petites infos que j'ai parfois
        galléré a trouver et que j'aurais aimé trouvé sur le net .
    </p>
    <br>   <br>

{% endblock %}
