{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}


        <h1>Blog</h1>
        <h3>L'actu du site et de mes projets </h3>
        <br>   <br>
        <p>
            Oui c'est bizarre de mettre un blog vide en ligne mais c'est mon seul moyen de communiquer sur ce qu'il y
            aura ici par la suite
        </p>



{% endblock %}