{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block callout %}
    <div class="callout" style="background:linear-gradient(to bottom,#d9c8b5,#ece9e2) ">
        <div class="small-12" style="width: 1120px;margin:auto;">
            <div class="grid-x">

                <div class="cell medium-6 large-7 padding-horizontal-2 padding-vertical-1">
                    <div class="text-left">
                        <h2> Concepteur Developpeur d'Applications  </h2>
                        <h4 class="subheader " style="color:#080b80;">
                            Je suis à présent en recherche d' une alternance pour mon année de Bac+5
                            Manager Systeme d'Information et d'Infrastructure</h4>

                    </div>
                </div>
                <div class="cell medium-6 large-5">
                    <img src="https://placehold.it/480x270"  alt="image of a planet called Pegasi B">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}


        <h1>Blog</h1>
        <h3>L'actu du site et de mes projets </h3>
        <br>   <br>
        <p>
            Oui c'est bizarre de mettre un blog vide en ligne mais c'est mon seul moyen de communiquer sur ce qu'il y
            aura ici par la suite
        </p>



{% endblock %}