body {

    background: linear-gradient(#333333, #eeeeee);

}



#myheader {
    height: 85px;
    padding-top: 5px;
    background-image: radial-gradient(circle at top left, #040416, #040416, #133055, #133055, #161677);

}

.mybrand {
   float: left;
    color: #fff;
}
.myname {
    padding-top: 10px;
   float: right;
    color: #fff;
}

.mybrand a:hover {

    color: #f06f14;
}
.mybrand a {

    color: #ffffff;
}

.mymenu {
    text-align: right;
    margin-right: 5px;
    float: right;
    text-transform: uppercase;
}

.mymenu ul {
    margin-top: 7px;
}


.mymenu ul li {
    margin: 1px 6px;
    padding: 2px 1px;
    font-size: 0.9em;
}


.mymenu ul li a {
    font-size: 1.00em;
}

.mymenu ul li a:hover {

    color: #f06f14;
}

.mymenu ul li#active {
    border-top: solid 2px #f06f14;
    border-bottom: solid 2px #f06f14;


}


.mymenu ul li#active a svg {
    stroke-width: 3;

}

.myconnectform {
    padding: 0px;
    float: right;
}

.myconnectform button {
    font-size: 0.9em;
    border-radius: 10px;
    border: 0px solid #fff;
}

.mymain {

    margin-top: 85px;
    background-color: #ffffff;
}




.mynotes main {
    margin-left: 4px;
    border-left: dashed 2px #333333;
    background-color: #f1f1f1;
    padding: 15px;

}

.mynotes h1 {
    color: #333333;
    font-size: 1.7em;
    margin-bottom: 20px;
    padding-left: 5px;

}

.mynotes h2 {
    color: #a62929;
    font-size: 1.4em;
    padding: 0px 20px;
}

.mynotes p {
    text-align: justify;
    text-indent: 20px;
    color: #666666;
    font-size: 1.1em;
    padding: 0px 50px;

}


aside {
    display: block;
    width: 200px;
    background-color: #ddddee;
}

footer {

    background-color: #0a0a33;

    margin: 0px;
}

footer p.copyright {
    margin: 0px;
    padding: 10px;
    color: white;
}

.jumbotron {
    background-color: #ecf1ff;

}

.minijumb {
    font-weight: 800;
    margin-top: 1Opx;
    padding-top: 15px;
    padding-bottom: 5px;
    
   background-color: #ffffff;
   
}

.jumbotron h1 {
    color: #f06f14;

}
.minijumb h1{
  text-align: center;
    font-weight: 400;
}


a.btn-blue {
    background-color: #133055;
    color: white;
}

a.btn-blue:hover {
    background-color: #6970a9;
    color: white;
}

a.btn-secondary:hover {
    background-color: #133055;
    color: white;
}
