html
{
    background-image:radial-gradient(#999,#333);
    background-attachment: fixed;
    background-size: contain;
}

h1
{
    padding:20px;
    margin:0px;
}

body
{
    margin:0px auto;
    background-color:#fafafa;
    padding:0px;
    #width:1160px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2); 
}

header
{
    height:140px;
    padding:10px;
    margin:0px;
    background-color: #133055;
    background-image: radial-gradient(circle at top left,#040416,#040416,#133055,#133055,#161677);
}

header #container
{
    width:1060px;
    margin:auto;
}

header #container #logo{
    display: block;
    float:left;
    margin:15px 10px 10px 20px;
    width:450px;
    height:80px; 
}

header #container #logo h1
 {
     font-family: Helvetica,Arial,sans-serif;
     font-Size:2.5em;
     font-weight:normal;
     margin:0px;
     padding:0px;
     color:#eeeeee;
     
 }
header #container #logo h2
{
    font-family: Verdana, Helvetica, sans-serif;
    font-Size:1.4em;
    font-weight:normal;
    padding:0px;
    margin:0px;
    color:#ffffff;
}


header #container nav
{
    
    display: block;
    float:right;
    text-align: right;
    padding:0px ;
    margin:80px auto 0px 0px;
}

header #container nav ul
{
    padding:0px;
    margin:0px;
    
}


header #container nav ul li
{
    display: inline-block;
    text-align: center;
    padding:0px 0px;
    margin:0px 10px;
}

header #container nav ul li#active
{
    border-bottom:solid 3px #fff;
    
}



header #container nav ul li a, header nav ul li a:visited,header nav ul li a:hover
{
    display: block;
    padding:8px 20px;
    margin:0px 0px;
    
}

header #container nav ul li a,header nav ul li a:visited
{
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color:#fff;
}

header #container nav ul li a:hover
{
    color:#111133;
    background-color: white;
    border-bottom:solid 3px #fff;
}


#breadcrumb
{
    background-color:#f9f9f9;
    border-bottom:solid 1px #aaaaaa;
    background-image:linear-gradient(#f3f3f3,#ccc);
    border-top:solid 2px #f3f3f3;
    text-align: left;
    height:28px;
    padding:2px;
}

#breadcrumb div{
    width:1030px;
    margin:0px auto;
    font-Size:0.9em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
    
}

#content
{

    width:1070px;
    padding:0px;
    margin:0px auto;
    font-family: Helvetica, Arial, sans-serifsans-serif;
}

#content>h1
{

    font-size: 2.0em;
    font-weight: normal;
    color:#330033;
    border-bottom: #330033 3px solid;
    padding: 15px 0px 5px 15px;
    margin:0px 0px 15px 0px ;


}

article
{
    display:block;
    padding: 8px;
    margin: 5px 0px;
}




article img
{
    
    width : 1050px;
    height: 330px;
    padding: 0px;
    margin:0px auto;
    

}


article img.thumbnail_medium
{
    float : left;
    width : 330px;
    height: 220px;
    padding: 0px;

}

article .article-resume
{
    margin-left : 330px;
    padding:10px;
}

article div.article-resume h1
{
    
    width:700px;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.4em;
    margin: 0px 0px 0px 0px;
    padding: 00px 0px 0px 10px;
    font-family:  Helvetica,Verdana,sans-serif;
    
    border-bottom: #330033 0px ;
}


article #titreArticle
{
     display:block;
     padding: 25px;
     margin: 5px auto 5px auto;
     background-color: inherit;
     text-align: center;
    
    
}
article #titreArticle h1
{
    display:inline;
    font-family: sans-serif;
    font-size: 2.2em;
    padding: 00px 40px 10px 40px;
    font-family:  Helvetica,Verdana,sans-serif;
    border-bottom: #330033 2px solid;
    text-transform: uppercase;
}


article h2
{
    text-align: left;
    font-family: sans-serif;
    font-size: 1.6em;
    margin: 25px 0px 10px 10px;
    padding: 0px 0px 0px 20px;
    font-family: Helvetica,Verdana,sans-serif;
}


article .article-resume p
{
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 5px 25px;
    text-indent: 30px;
    font-size: 1.0em;
    text-align: justify;
    color:#505050;
    height:100px;
        
}

article p
{
    margin: 0px 0px 0px 0px;
    padding: 15px 40px 0px 40px;
    text-indent: 30px;
    font-size: 1.0em;
    text-align: justify;
    color:#505050;
    text-indent: 20px;
    font-family: Helvetica,Verdana,sans-serif;
}


article .article-resume a.button-bh
{
    display: inline-block;
    padding:10px;
    margin:30px 0px 0px 530px;
    width:180px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #111133;
}



tutoriel
{
    display:inline-block;
    background-color: #f9f9f9;
    padding: 0px;
    margin: 0px 10px 0px 10px;
    height : 520px;
    width: 333px;   
    overflow: hidden;
}




tutoriel img.thumbnail_medium
{ 
    display: block;
    float : left;
    width : 330px;
    height: 220px;
    padding: 0px 0px 0px 0px;   

}utoriel .tutoriel-resume
{
    clear: both;
    padding:10px;
    
}


tutoriel .tutoriel-resume h1
{
   
    display: block;
    font-family: sans-serif;
    font-size: 1.6em;
    margin: 10px;
    padding: 0px 0px 0px 0px;
    font-family: Helvetica,Verdana,sans-serif;
    text-align: center;
}

tutoriel .tutoriel-resume p
{
    display: block;
    float : left;
    margin: 0px 0px 0px 0px;
    padding: 15px 5px;
    text-indent: 30px;
    font-size: 1.0em;
    text-align: justify;
    color:#505050;
    height:190px;
}


tutoriel .tutoriel-resume a.button-bh
{
    
    float : right;
    padding:8px 10px;
    margin:0px 0px 0px 80px;
    width:180px;
    font-size: 0.9em;
    text-align: center;
    color: #fff;
    font-family: Helvetica,Verdana,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #111133;
}



footer
{
    clear: both;
    border-top: #99c 2px solid;
    padding:0px;
    margin:20px 0px 0px 0px;
    height:160px;
    background-image: linear-gradient(#133055,#040416 160px);
}


#copyright
{   
    background-color:#040416;
    text-align: center;
    padding:15px 0px 5px 0px;
    margin:0px;
    color:#eee;
    font-Size:0.8em;
    font-family: Verdana,Helvetica, sans-serif;
    font-weight: 600;
}

#laravel{
    margin: 45px auto;
    text-align: center;
    font-size:60px;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    
}

#laravel div{
    
    display: block;
    background:#eee;
    font-size:16px;
    margin:30px 180px;
    padding:30px auto;
    line-height: 50px;
    border: solid 1px #cccccc;
    
}

#img{
    float:left;
    
}
img.first{
    margin-left:30px;
    
}