{% extends 'backoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

    <div class="grid-x">
        <div class="cell small-6 float-left">
            <h3>Publier Catergorie </h3>
        </div>
        <div class="cell small-6">
            <a href="{{ path('admin_global_technology_home') }}" class="button secondary float-right">
                Publier
            </a>
        </div>
    </div>
    <hr>
    <div class="grid-x">
        // TODO : creer systeme pour requalifier tous les Postes / Projets / Pages impactés par la suppression
    </div>

{% endblock %}