
navbar{
  padding:15px;

  img#logo{
    width:55px;
    height:55px;
    margin:5px;
    padding:0px;
  }

  #trademark{
    display: block;
    height: 60px;
    padding:0px;
    font-size:1.5em;
    font-weight:400;
    color:white;
  }

  &#front{
    height: 65px;
    background: linear-gradient(to left , #175692, #12305e);
  }

  &#admin{
    height: 65px;
    background: linear-gradient(to top , #12305e, #3581cb);
  }
  &#sub-admin{
    height: 40px;
    background: linear-gradient(to bottom,#505050,#6d6d6d,#7d7c7c,#7d7c7c,#7d7c7c);
  }



}

ul.menu {
  display: block;
  background-color: transparent;
  margin: 0px;
  padding: 0px;

  li{
    display: inline-block;
    border-left: #70a4db 1px dotted ;
    margin:0px;
    padding:15px 30px 10px 30px;
    margin-left:-5px;

    a{
      margin:0px;
      padding:0px;
      color: #ffffff;
    }
    &.menu-navbar-item-last {

      border-right: #70a4db 1px dotted ;

      a{
        font-weight: bold;
      }

      a.me{
        color:#fffc2a;
      }
    }
    &:hover{
      background-color: #175692;
      border-top: #175692 1px solid ;
      border-bottom: #175692 1px solid ;
      }

  }
}


ul.submenu {
  display: block;
  background-color: transparent;
  margin: 0px;
  padding: 0px;

  li{
    display: inline-block;
    margin:0px;
    padding:5px 20px 0px 20px;


    a{
      margin:0px;
      padding:0px;
      color: #ffffff;
    }

    &:hover{
      background-color: #cdcdcd;

      a {
        color:#333333;
      }
    }
  }
}


a.navbar-button{

  font-size:1.0em;
  color: #ffffff;
  padding: 12px 12px 8px 12px;
  margin: 10px 5px;
  border:solid 1px transparent;



    &:hover{
      background-color: #1e5590;
      border: $white 1px solid;
    }

}








