{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}
{% block callout %}
    <div class="callout" style="background:linear-gradient(to bottom,#a7c3d2,#e0e9f5) ">
        <div class="small-12" style="width: 1120px;margin:auto;">
            <div class="grid-x">

                <div class="cell medium-6 large-7 padding-horizontal-2 padding-vertical-1">
                    <div class="text-left">
                        <h2>Contact </h2>
                        <h4 class="subheader " style="color:#080b80;">
                            A développer

                    </div>
                </div>
                <div class="cell medium-6 large-5">
                    <img src="https://placehold.it/480x270"  alt="image of a planet called Pegasi B">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}


    <div>
        <p>
            ¯\_(ツ)_/¯
        </p>
    </div>
{% endblock %}
