{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}
{% block callout %}
    <div class="callout" style="background:linear-gradient(to bottom,#a7c3d2,#e0e9f5) ">
        <div class="small-12" style="width: 1120px;margin:auto;">
            <div class="grid-x">

                <div class="cell medium-6 large-7 padding-horizontal-2 padding-vertical-1">
                    <div class="text-left">
                        <h2> Concepteur Developpeur d'Applications  </h2>
                        <h4 class="subheader " style="color:#080b80;">
                            Je suis à présent en recherche d' une alternance pour mon année de Bac+5
                            Manager Systeme d'Information et d'Infrastructure</h4>

                    </div>
                </div>
                <div class="cell medium-6 large-5">
                    <img src="https://placehold.it/480x270"  alt="image of a planet called Pegasi B">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}


    <div>
        <h1>Concepteur Developpeur d'Applications</h1>
        <br>
        <h4>Pour poursuivre mon parcours aprés le passage de mon titre de CDA
            je recherche actuellement une alternance en contrat de professionnalisation
            pour mon année de Master Management des Systemes d'Informatisation et d'infrastructure .

        </h4>
        <br>
        <h4>
            Suite aux difficultés de trouver une alternance , je recherche aussi un poste de Concepteur Developpeur,
            avec un fort desir d'evoluer vers un profil Full Stack
        </h4>

        <br>
        <p >
            ¯\_(ツ)_/¯    ...  Oui , je suis moi meme en cours de developpement
        </p>
        <p >
            En attendant la version en ligne , voici mon <a href="{{ asset('docs/CV_Bruno_HUDBERT_CDA_Bac+4.pdf') }}">CV téléchargeable</a>
            <br>
            Ainsi que mon <a href="https://www.linkedin.com/in/bruno-hudbert/">profil LinkedIn </a>
        </p>
        <br>   <br>
    </div>
{% endblock %}

