{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1>Portrfolio des mes projets de démo</h1>
            <br>
        <h3>En cours de développement</h3>
        <br>   <br>
        <p class="text-left">
            Je placerais ici plusieurs projets type concus lors je ma formation ou comme fil rouge de mon autoformation
            <br> - Projet Symfony 4 Magasin en ligne + Couplage avec une appli Android
            <br> - Projet J2EE : site d'encheres en ligne développé en phase projet de ma formation CDA a l'ENI
            <br> - Projet J2EE / Spring : site gestion filmotheque développé en phase projet de ma formation CDA a l'ENI
            <br> - Projet ASP.net : si je trouve une solution pour l'hebergé  ¯\_(ツ)_/¯<p>
            <br> - Et angular ca sera plus tard !
        </p>
    </div>
{% endblock %}