{% extends 'frontoffice/_layouts/base.html.twig' %}

{% block callout %}



    <div class="callout" style="background:linear-gradient(to bottom,#cbf5c4,#e7f5df) ">
        <div class="small-12" style="width: 1120px;margin:auto;">
            <div class="grid-x">

                <div class="cell medium-6 large-7 padding-horizontal-2 padding-vertical-1">
                    <div class="text-left">
                        <h2> Concepteur Developpeur d'Applications  </h2>
                        <h4 class="subheader " style="color:#080b80;">
                            Je suis à présent en recherche d' une alternance pour mon année de Bac+5
                            Manager Systeme d'Information et d'Infrastructure</h4>

                    </div>
                </div>
                <div class="cell medium-6 large-5">
                    <img src="https://placehold.it/480x270"  alt="image of a planet called Pegasi B">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div>
        <h1>Portrfolio des mes projets de démo</h1>
            <br>
        <h3>En cours de développement</h3>
        <br>
        <p class="text-left">
            Je placerais ici plusieurs projets type concus lors je ma formation ou comme fil rouge de mon autoformation
            <br> - Projet Symfony 5 Magasin en ligne + Couplage avec une appli Android
            <br> - Projet J2EE : site d'encheres en ligne développé en phase projet de ma formation CDA a l'ENI
            <br> - Projet J2EE / Spring : TeamSpace est une application de collaboration a la MS Teams et autre outils de collaboration
            <br>
        </p>
    </div>
{% endblock %}