{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mes formations</h1>

    <h3>En cours de développement</h3>
    <br>
    <p class="text-left">
        Le but n'est en aucun cas de chercher a vendre de la formation alors que je suis moi meme en cours de formation .
        Je suis moi meme beaucoup trop souvent tomber sur des formations de pseudo-experts qui voulaient m'apprendre a
        devenir riche sans travailler !
   </p>
    <p class="text-left">
        Je suis convaincu que le meilleur moyen de savoir si on maitrise un concept ou une techno est d'essayer de les
        réexpliquer a une autre personne . C'est donc ce que j'essayerai de faire ici ! Si en plus ca peut servir a ceux
        qui cherche a se former ...tout le monde y gagne ;-)

    </p>

    <p class="text-left">
        Apres remise en forme , je mettrais aussi quelques notes de formations , quelques petites infos que j'ai parfois
        galléré a trouver et que j'aurais aimé trouvé sur le net .
    </p>
    <br>   <br>
</div>
{% endblock %}
