{% extends 'base.html.twig' %}



{% block body %}
<br><br>
<div class="container">

    <div class="alert alert-light ">
    <h1> La page que vous recherchez semble ne pas exister</h1>
    <br>
    <h3> Toutes nos excuses , et profitez en pour decouvrir les <a href="{{ path('home') }}" >sorties</a> </h3>
    </div>
</div>


{% endblock %}
