{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Portrfolio des mes projets de démo</h1>

    <h3>En cours de développement</h3>
    <br>   <br>
    <p class="text-left">
        Je placerais ici plusieurs projets type concus lors je ma formation ou comme fil rouge de mon autoformation
        <br> - Projet Symfony 4 Magasin en ligne + Couplage avec une appli Android
        <br> - Projet J2EE : site d'encheres en ligne développé en phase projet de ma formation CDA a l'ENI
        <br> - Projet J2EE / Spring : site gestion filmotheque développé en phase projet de ma formation CDA a l'ENI
        <br> - Projet ASP.net : si je trouve une solution pour l'hebergé  ¯\_(ツ)_/¯<p>
        <br> - Et angular ca sera plus tard ! <br>

    </p>


    </p>
    <br>   <br>
</div>
{% endblock %}
