{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}
    <br>
    <div class="grid-x grid-margin-x ">

        <div class="cell large-4"></div>
        <div class="callout light cell large-4">
            <h4>Entrez vos identifiants</h4>
            <form method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"  >

                <label for="username">Nom d'utilisateur </label>
                <input type="text" name="_username" id="username" />

                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" />
                <div class="text-center">
                    <button type="cancel" class="button hollow primary">Annuler</button>
                    <button type="submit" class="button">Envoyer</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
